header.header
  .container
    .header__info
      .logo
        img(src="assets/img/logo.png", alt="logo")
      //- .location__city
        p 
          span Ваш город 
        p
          img(src="assets/img/location-pointer.png", alt="").icon.location
          | Алматы
          | Севастополь
      .location__office
        //- p
          span Ближайший офис: 
          | ул. Профсоюзов 31/2, г. Сургут
        p
          span Наш офис: 
          | ул. Адмирала Юмашева 27, г. Севастополь
        p
          span График работы: 
          | Пн-Пт, 09:00-18:00
      .location__phone
        p
          span Перезвони мне 
        p
          img(src="assets/img/call-answer.png", alt="").icon
          //- | +7 (952) 712-51-45
          | +7 (978) 505-96-05
      .search
        input(type="search").search-input
