section.advantages#advantages
  .container
    .title
      h2.uppertext.center почему именно бетон?
      span.backtitle преимущества
    .advantages-items
      .advantages-block
        .number-bg
          span 1
        .block-text
          h4 Функциональность.
          p Универсальные свойства и высокие эксплуатационные характеристики сделали бетон одним из самых востребованных материалов в современном строительстве. Он используется при возведении жилых домов, плотин, тоннелей.
      .advantages-block
        .number-bg
            span 2
        .block-text
          h4 Доступность.
          p Бетон по праву считается одним из наиболее бюджетных строительных материалов. В состав входит цемент, вода и заполнитель. Использование бетона в капитальном строительстве - реальный способ оптимизации расходов.
      .advantages-block
        .number-bg
          span 3
        .block-text
          h4 Устойчивость.
          p Устойчивость к эрозии, перепадам температуры, плесени и пр. Бетону не страшны ни сильные ветра, ни морозы, ни другие агрессивные факторы внешней среды. Именно поэтому его используют в строительстве плотин, метро в разных уголках России.
      .advantages-block
        .number-bg
          span 4
        .block-text
          h4 Долговечность.
          p Совокупность свойств бетона - гарантия высокой износостойкости бетонных элементов. Длительный эксплуатационный период также отражается на амортизации объектов. А современные технологии армирования способны сделать бетон еще прочнее.