section.alternatives
  .container
    .title
      h2.uppertext.center строительные технологии: бетон
      span.backtitle альтернативы
    .alternatives-product
      .alternatives-text
        //- h4.uppertext строительные технологии: бетон
        p Марки и класс бетона определяют нормы применения той или иной разновидности для различных этапов строительства. В зависимости от стадии работ и масштаба объекта, бетон должен обладать определенными свойствами. Равноценной альтернативы бетону, как стройматериалу, на сегодняшний день нет. Он прочен, устойчив к перепадам температуры, эрозии, долговечен и приемлем по цене. Критическое свойство бетонных элементов - хрупкость при растяжении. Чтобы компенсировать его применяют технологию армирования, выбирая один из 4х вариантов:
        ul
          li Стальная арматура
          li Кладочная сетка
          li Прочная фибра
          li Арматура из стекловолокна
      img(src="assets/img/alternatives-img1.jpg", alt="")
    h4.uppertext для реализации конкретного этапа строительства можно выбрать:
    .alternatives-choose
      .alternatives-item
        img(src="assets/img/alternatives-img2.jpg", alt="")
        .choose-block
          h4 Подготовительные работы
          p Используется бетон М100 (В7,5) для устройства ленточного фундамента, монолитной плиты, дорожного строительства.
      .alternatives-item
        img(src="assets/img/alternatives-img3.jpg", alt="")
        .choose-block
          h4 Отмостка, дорожки, полы, стяжка
          p Работы выполняются с использованием бетона М150 (В12,5), допускается для заливки фундамента немассивных сооружений.
      .alternatives-item
        img(src="assets/img/alternatives-img4.jpg", alt="")
        .choose-block
          h4 Дорожные плиты, фундамент, лестницы
          p Используется бетон дорожный класс В15 М200. Также выполняется бетонная стяжка. Бетон этой марки и класса относится к тяжелым бетонам.
      .alternatives-item
        img(src="assets/img/alternatives-img2.jpg", alt="")
        .choose-block
          h4 Подпорные стены, фундамент
          p В работе применяется бетон тяжелый класса В20 М250. Подходит для возведения 10этажных монолитных конструкций.
      .alternatives-item
        img(src="assets/img/alternatives-img3.jpg", alt="")
        .choose-block
          h4 Перекрытия, лестницы, заборы
          p Работы производятся с использованием бетона М300 класса В22,5. Допустимо возведение малонагруженных плит перекрытий и фундаментов.
      .alternatives-item
        img(src="assets/img/alternatives-img4.jpg", alt="")
        .choose-block
          h4 Монолитное строительство
          p Используется бетон М350 (B25). Применим для монолитных и свайно-ростверковых фундаментов, колонн, монолитных стен, бассейнов.
      .alternatives-item
        img(src="assets/img/alternatives-img2.jpg", alt="")
        .choose-block
          h4 Коммунальное строительство
          p В работе применяется бетон М400 (класс бетона В30). Подходит для мостовых и гидротехнических конструкций, банковских хранилищ, различных ЖБК.
      .alternatives-item
        img(src="assets/img/alternatives-img3.jpg", alt="")
        .choose-block
          h4 Транспортное строительство
          p Работы выполняются с использованием бетона М500 (М550), класс В40. Предусмотрено изготовление колонн, элементов метро, плотин, дамб.

    //- .button-slider
    //-   a(href="#").button-slider-left
    //-     img(src="assets/img/back.png", alt="")
    //-   a(href="#").button-slider-right
    //-     img(src="assets/img/forward.png", alt="")