section.banner
  .container
    .banner__text
      h2 Бетонные работы всех уровней сложности на объектах капитального строительства в Севастополе и Крыму.
      p Услуги экспертов рынка. Технологии, проверенные опытом, современное сырье и материалы. Строительные Технологии в ответе за качество!
      .blur-effect
    .button
      a.bevel-effect(href="#popup-overlay") Заказать