section.cases
  .container
    .title
      h2.uppertext.center кейсы
      span.backtitle кейсы
    .cases-items
      .cases-block
        .cases-img
          img(src="assets/img/cases-img1.jpg", alt="")
          span.uppertext бетонный пол
        .cases-text
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          a(href="#").button-readmore.uppertext подробнее
            img(src="assets/img/readmore.png", alt="")
      .cases-block
        .cases-img
          img(src="assets/img/cases-img2.jpg", alt="")
          span.uppertext бетонный пол
        .cases-text
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          a(href="#").button-readmore.uppertext подробнее
            img(src="assets/img/readmore.png", alt="")
      .cases-block
        .cases-img
          img(src="assets/img/cases-img3.jpg", alt="")
          span.uppertext бетонный пол
        .cases-text
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          a(href="#").button-readmore.uppertext подробнее
            img(src="assets/img/readmore.png", alt="")