section.examples#examples
  .container
    .title
      h2.uppertext.center примеры выполнения продукта
      span.backtitle примеры
    .examples-items
      .examples-block
        img(src="assets/img/examples-img1.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img2.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img3.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img4.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img5.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img6.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img7.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img8.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img9.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img10.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img11.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
      .examples-block
        img(src="assets/img/examples-img12.jpg", alt="")
        .examples-text
          p Наименование объекта<br>
              | Назначение<br>
              | Город<br>
              | Срок реализации
    //- p
      a(href="#").button-more Показать еще