section.experience#experience
  .container
    .content-text
      h3.uppertext монолитное
        br
        | строительство и бетон
      .content-img
        img(src="assets/img/advantages-img.jpg", alt="")
      p Бетон в современном строительстве считается одним из самых востребованных и незаменимых материалов. Такая популярность определена его уникальными свойствами. Бетон используется в строительстве для возведения элементов абсолютно любой формы и назначения: полы, перекрытия, стены, тоннели. Качество конечного продукта напрямую зависит от качества исходного сырья, соблюдения норм и стандартов работы со смесью и оборудованием. Это означает, что подрядчик должен следовать принципам честности и предельной ответственности за свои услуги. Компания Строительные Технологии - это устоявшийся коллектив компетентных специалистов с богатым опытом работы в промышленном, гражданском, коммунальном и транспортном строительстве. Закупая сырье у постоянных поставщиков, мы защищаем клиентов от несанкционированных наценок.
    .button
      a.bevel-effect(href="#popup-overlay") Заказать