section.feedback
  .container
    .title
        h2.uppertext.center мнение наших клиентов
        span.backtitle отзывы
    .feedback-items
      .feedback-block
        img(src="assets/img/feedback-img1.jpg", alt="")
        .feedback-text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span Jane Tomson, Manager of Community
      .feedback-block
        img(src="assets/img/feedback-img2.jpg", alt="")
        .feedback-text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span Jane Tomson, Manager of Community
      .feedback-block
        img(src="assets/img/feedback-img3.jpg", alt="")
        .feedback-text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span Jane Tomson, Manager of Community
      .feedback-block
        img(src="assets/img/feedback-img4.jpg", alt="")
        .feedback-text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span Jane Tomson, Manager of Community
    .button-slider
      a(href="#").button-slider-left
        img(src="assets/img/back.png", alt="")
      a(href="#").button-slider-right
        img(src="assets/img/forward.png", alt="")