section.partnership
  .container
    .title
      h2.uppertext.center выгодные условия от строительных технологий
      span.backtitle сотрудничество
    .partnership__items
      .partnership__item
        .partnership__item-img
          img(src="assets/img/file.png", alt="file")
        p Официальный договор
      .partnership__item
        .partnership__item-img
          img(src="assets/img/ruble.png", alt="money")
        p Любая форма оплаты
      .partnership__item
        .partnership__item-img
          img(src="assets/img/guarantee.png", alt="guarantee")
        p Пожизненная гарантия