section.whywe#whywe
  .container
    .title
      h2.uppertext.center почему именно строительные технологии
      span.backtitle почему
    .whywe-items
      .whywe-block
        .whywe-img
          img(src="assets/img/reputation.png", alt="")
        .whywe-text
          h4 Безупречная репутация
          p Имея внушительный опыт на рынке строительных услуг, мы нацелены на создание прочных и взаимовыгодных деловых отношений.
      .whywe-block
        .whywe-img
          img(src="assets/img/quality.png", alt="")
        .whywe-text
          h4 Абсолютное качество
          p Компания тщательно отслеживает все этапы работ, а также используемые в работе материалы. Сотрудничая с лидерами рынка, мы добиваемся отличных результатов!
      .whywe-block
        .whywe-img
          img(src="assets/img/calculator.png", alt="")
        .whywe-text
          h4 Доступные цены
          p Учитывая масштабы деятельности компании, мы пользуемся специальными выгодами от поставщиков материалов и сырья, что существенно отражается на цене.
      .whywe-block
        .whywe-img
          img(src="assets/img/support.png", alt="")
        .whywe-text
          h4 Персональный менеджер
          p Наши клиенты быстро и эффективно решают все возникающие вопросы с компетентным специалистом, который сопровождает все работы на объекте.
      .whywe-block
        .whywe-img
          img(src="assets/img/calendar.png", alt="")
          //- img(src="assets/img/sketch.png", alt="")
        .whywe-text
          h4 Точно в срок
          p Мы работаем вопреки стереотипам - мы соблюдаем сроки на выполнение работ. Эта информация закреплена в договоре.
      .whywe-block
        .whywe-img
          img(src="assets/img/webcam.png", alt="")
        .whywe-text
          h4 Открытый доступ
          p Строительные Технологии - за честный диалог с клиентом. Мы не скрываем того, как мы работаем - за ходом работ на объекте можно наблюдать, не выходя из офиса через online трансляцию!