extends ../template

block variables
  - var title = "Строительные Технологии"

block content
  include ../common/header
  include ../common/nav
  include ../common/content/main
  include ../common/footer

  include ../common/popup