section.blog
  .container
    .breadcrumbs
      a(href="#") Главная/
        a(href="#") Публикации
    .service-block
      .stick-block
        ul.main-menu
          li
            a(href="#") УСЛУГА 1
          li
            a(href="#") УСЛУГА 2
          li
            a(href="#") УСЛУГА 3
          li
            a(href="#") УСЛУГА 4
          li
            a(href="#") УСЛУГА 5
          li
            a(href="#") УСЛУГА 6
          li
            a(href="#") УСЛУГА 7
          li
            a(href="#") УСЛУГА 8
          li
            a(href="#") УСЛУГА 9
        .sticky-block-banner
          img(src="assets/img/service3.jpg", alt="")
      .service-article
        .news-title
          h2.uppertext в чем секрет?
          span 01.01.2019
        .service-article-text
          img(src="assets/img/news1.jpg", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .partnership-items
          .item-block
            img(src="assets/img/firewall.png", alt="")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .item-block
            img(src="assets/img/layers.png", alt="")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .backtitle
      h2.uppertext публикации экспертов
      span эксперты
    .cases-items
      .cases-block
        .cases-img
          img(src="assets/img/cases-img1.jpg", alt="")
        .cases-text
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span 18/03/2019
          a(href="#").button-readmore.uppertext подробнее
            img(src="assets/img/readmore.png", alt="")
      .cases-block
        .cases-img
          img(src="assets/img/cases-img2.jpg", alt="")
        .cases-text
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span 18/03/2019
          a(href="#").button-readmore.uppertext подробнее
            img(src="assets/img/readmore.png", alt="")
      .cases-block
        .cases-img
          img(src="assets/img/cases-img3.jpg", alt="")
        .cases-text
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          span 18/03/2019
          a(href="#").button-readmore.uppertext подробнее
            img(src="assets/img/readmore.png", alt="")
