include section/banner
include section/partnership
include section/advantages
include section/experience
include section/alternatives
include section/whywe
include section/examples
//- include section/feedback
//- include section/cases
include section/contact