section.examples
    .container
        .breadcrumbs
            a(href="#") Главная/
                a(href="#") Портфолио
        .backtitle
            h2.title примеры выполнения продукта
            //- span примеры
        .sorting-block
            .sorting-items
                .sorting-select
                    select
                        option(hidden='', disabled='', selected='') По виду работ
                        option option 1
                .sorting-select
                    select
                        option(hidden='', disabled='', selected='') По дате
                        option option 1
                .sorting-select
                    select
                        option(hidden='', disabled='', selected='') По типу объекта
                        option option 1
                .sorting-select
                    select
                        option(hidden='', disabled='', selected='') По региону
                        option option 1
            p
                a.button(href="#") Показать выбранное
        .examples-items
            .examples-block
                img(src="assets/img/examples-img1.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img2.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img3.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img4.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img5.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img6.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img7.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img8.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img9.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img10.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img11.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
            .examples-block
                img(src="assets/img/examples-img12.jpg", alt="")
                .examples-text
                    p Наименование объекта<br>
                        | Назначение<br>
                        | Город<br>
                        | Срок реализации
        p
            a(href="#").button-more Показать еще