section.service
  .container
    .breadcrumbs
      a(href="#") Главная/
        a(href="#") Публикации
    .service-block
      .stick-block
        ul.main-menu
          li
            a(href="#") УСЛУГА 1
          li
            a(href="#") УСЛУГА 2
          li
            a(href="#") УСЛУГА 3
          li
            a(href="#") УСЛУГА 4
          li
            a(href="#") УСЛУГА 5
          li
            a(href="#") УСЛУГА 6
          li
            a(href="#") УСЛУГА 7
          li
            a(href="#") УСЛУГА 8
          li
            a(href="#") УСЛУГА 9
        .sticky-block-banner
          img(src="assets/img/service3.jpg", alt="")
      .service-article
        h2 Бетонные полы, суть техники
        .service-article-text
          img(src="assets/img/service1.jpg", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .cases-items
          .cases-block
            .cases-img
              img(src="assets/img/cases-img1.jpg", alt="")
          .cases-block
            .cases-img
              img(src="assets/img/cases-img2.jpg", alt="")
          .cases-block
            .cases-img
              img(src="assets/img/cases-img3.jpg", alt="")

        .button-slider
          a(href="#").button-slider-left
            img(src="assets/img/back.png", alt="")
          a(href="#").button-slider-right
            img(src="assets/img/forward.png", alt="")

        .partnership-items
          .item-block
            img(src="assets/img/bars.png", alt="")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .item-block
            img(src="assets/img/sketch.png", alt="")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .service-form-block
          .service-form
            h4.uppertext задайте вопрос прямо сейчас:
            form(action="")
              input(type="name" value="Имя")
              input(type="mail" value="E-mail")
              textarea Вопросы
              br
              a.button(href="#") Отправить
          img(src="assets/img/service2.jpg", alt="")